:root {
  --background: #fefee3;
  --primary: #ff9f1c;
  --ligth-bg: #ffc9b9;
  --secondary: #2c6e49;
  --intermediate: #4c956c;

  --orange: #ffbf69;
  --grey: #a19f9f;
  --black: #000000;
  --clear-black: #252525;
  --white: #ffffff;
  --success: #15ff00;
  --red: #ff0054;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background);
}
div {
  min-width: '100%';
  min-height: '100%';
}

html,
body {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.columns {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.loading {
  display: block !important ;
}

.success {
  color: var(--success);
}
.danger {
  color: var(--basic);
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

.full-width {
  width: 100%;
}

.delay {
  margin-left: 15px;
}

.center {
  text-align: center;
}
.margin {
  margin: auto;
}

select.lightbg {
  background-color: var(--ligth-bg);
}

select.primary {
  background-color: var(--orange);
}

.link {
  text-decoration: none !important;
  color: var(--white) !important;
}

.link:visited {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}
.fa-arrow-left {
  font-size: x-large !important;
}

.nowrap {
  flex-wrap: nowrap;
}
