/* * Police du texte button * */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* * Police du texte Primaire * */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
/* * Police du texte secondaire * */
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
/* * Police du Site * */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
/** Police du footer **/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/** font-table**/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font input label*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

label span,
.table-title {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}
.font-button {
  font-family: 'Fredoka One', cursive;
  font-size: large;
}
.font-secondary {
  font-family: 'Scheherazade New', serif;
}
.font-list {
  background-color: var(--ligth-bg);
}
.font-footer {
  font-family: 'Fredoka One', cursive;
  font-size: x-large;
}
.font-primary {
  font-family: 'Playfair Display', serif;
}
.xlarge {
  font-size: x-large;
}
.bold {
  font-weight: 400;
}
.xbold {
  font-weight: 600;
}
.large {
  font-size: large;
}
.font-title {
  font-family: 'RocknRoll One', sans-serif;
}
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  /* font-family: Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--secondary);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--secondary);
  color: var(--white);
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 10px;
  padding-bottom: 10px;
}
li {
  margin-top: 1rem;
}

th {
  font-family: 'RocknRoll One', sans-serif;
}
td {
  font-family: 'Shippori Mincho B1', serif;
}
label {
  font-family: 'RocknRoll One', sans-serif;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover {
  border: 0.1rem var(--clear-black) solid;
}

button.primary:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
button.primary {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Fredoka One', cursive;
  font-size: large;
}
button.secondary:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

button.secondary {
  background-color: var(--secondary);
  color: var(--primary);
  font-family: 'Fredoka One', cursive;
  font-size: large;
}
button.block {
  width: 100%;
}
/* Header */
header a {
  color: var(--white);
  padding: 1rem;
}
a.brand {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Rampart One', cursive;
}
.badge {
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* Rating */
.rating span {
  color: var(--primary);
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: var(--secondary);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

strong {
  font-family: 'RocknRoll One', sans-serif;
}
