@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');

.card {
  margin: auto;
  max-width: 80%;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
}
.card .card__title {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin: 15px;
  border-radius: 25px;
  background-color: var(--primary);
}
.card .card__title:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
.card .card__title h3 {
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  /* color: #252525; */
  /* font-family: sans-serif;
  font-weight: 600;
  font-size: 20px; */
  text-transform: uppercase;
}
.card .card__title .icon {
  flex: 1 0 10px;
  background: var(--secondary);
  color: var(--white);
  padding: 10px 10px;
  transition: 200ms;
}
.card .card__title .icon > a {
  color: var(--white);
}
.card .card__title .icon:hover {
  background: var(--clear-black);
}
.card .card__body {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}
.card .card__body > .half {
  box-sizing: border-box;
  padding: 0 15px;
  flex: 1 0 50%;
}
.featured_text {
  text-align: center;
}
.card .card__body .featured_text h1 {
  margin: 0;
  padding: 0;
  /* font-weight: 800;
  font-family: 'Montserrat', sans-serif;*/
  font-size: 64px;
  text-transform: uppercase;
  line-height: 50px;
  color: var(--clear-black);
}
.card .card__body .featured_text p {
  margin: 0;
  padding: 0;
}
.card .card__body .featured_text p.sub {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 26px;
  /* text-transform: uppercase; */
  color: var(--grey);
  font-weight: 300;
  margin-bottom: 5px;
}
.card .card__body .featured_text p.price {
  /* font-family: 'Fjalla One', sans-serif; */
  color: var(--clear-black);
  font-size: 26px;
}
.card .card__body .image {
  padding-top: 15px;
  width: 100%;
}
.card .card__body .image img {
  display: block;
  max-width: 70%;
  height: auto;
}
.card .card__body .description {
  margin-bottom: 25px;
  text-align: center;
}
.card .card__body .description p {
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  line-height: 27px;
  font-size: 24px;
  color: #555;
}
.card .card__body span.stock {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--secondary);
}
.card .card__body span.no_stock {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--red);
}
.card .card__body .reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.card .card__body .reviews .stars > li {
  display: inline-block;
}
.card .card__body .reviews .stars > li .fa {
  color: var(--primary);
}
.card .card__body .reviews > span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: var(--grey);
}
.card .card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}
.card .card__footer::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  height: 3px;
  background: var(--secondary);
}
.card .card__footer .recommend {
  flex: 1 0 10px;
}
.card .card__footer .recommend p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: var(--grey);
}
.card .card__footer .recommend h3 {
  margin: 0;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--intermediate);
}
.card .card__footer .action button {
  cursor: pointer;
  border: 1px solid var(--secondary);
  padding: 14px 30px;
  border-radius: 200px;
  color: var(--secondary);
  background: var(--primary);
  font-size: 16px;
  transition: 200ms;
}
.card .card__footer .action button:hover {
  background: var(--secondary);
  color: var(--primary);
}
