.checkout-steps {
  display: flex;
  justify-content: space-between;

  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  flex: 1 1;
}

.checkout-steps > div.active {
  border-top: 0.3rem #ff8000 solid;
  color: var(--primary);
}

/* Place Order */

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 30rem;
}
